 html{
 	width: 100%;
 	min-width: 310px;
 }
 body{
 	padding-top: 120px;

background: -moz-radial-gradient(center, ellipse cover, rgba(128,128,128,0) 0%, rgba(128,128,128,0.01) 1%, rgba(128,128,128,0.65) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, rgba(128,128,128,0) 0%,rgba(128,128,128,0.01) 1%,rgba(128,128,128,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, rgba(128,128,128,0) 0%,rgba(128,128,128,0.01) 1%,rgba(128,128,128,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00808080', endColorstr='#a6808080',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

 }

.nav-parent{
	height: 112px;
	display: flex;
	justify-content: space-around;	

}

.custom-logo{

	margin-top: 18px;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	font-size: 80px;
	text-align: center;
	text-transform: uppercase;
	text-rendering: optimizeLegibility; 

    color: #202020;
    letter-spacing: .1em;
    text-shadow: 
      -1px -1px 1px #111, 
      2px 2px 1px #363636;

    user-select:none;
	/* Correções para os Navegadores */
	-moz-user-select: none;
	-webkit-user-select: none; 
	-ms-user-select:none; 	
	-o-user-select:none;

}

.custom-logo:hover{

	-webkit-animation: pulse 3s ease infinite;
	-moz-animation: pulse 3s ease infinite;
	animation: pulse 3s ease infinite;
}

@-webkit-keyframes pulse {
	0%{letter-spacing: .1em;
	   transform: scaleX(0deg);
	    font-size: 80px;}
	30%{letter-spacing: -.2em;
		font-size: 0px;}
	100%{transform: rotate(360deg)}
}

@-moz-keyframes pulse {
	0%{letter-spacing: .1em;
	   transform: scaleX(0deg);
	    font-size: 80px;}
	30%{letter-spacing: -.2em;
		font-size: 0px;}
	100%{transform: rotate(360deg);
		font-size: 80px}
}

@keyframes pulse{
	0%{letter-spacing: .1em;
	   transform: scaleX(0deg);
	    font-size: 80px;}
	30%{letter-spacing: -.2em;
		font-size: 0px;}
	100%{transform: rotate(360deg)}
}

.nav-item{
	padding-top: 28px;
	height: 112px;
}

#navbar{
	position: fixed;
	top: 0%;
	width: 100%;	
	height: 112px;
	background-color: #b71c1c;
	background: linear-gradient(200deg, #6200ea , #7c4dff   ,  #6200ea  );
	background-size: 600% 600%;
	-webkit-animation: navColor 10s ease infinite;
	-moz-animation: navColor 10s ease infinite;
	animation: navColor 10s ease infinite;
}

/* Animação da NAVBAR */
@-webkit-keyframes navColor {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes navColor {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes navColor { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


/* FIM da animação da NAVBAR */

.vito{
	
	width: 100px;
	margin: 5px;

}

.parent{
	height: 100%;
	border: solid 5px aqua;
	display: flex;
	/*justify-content: space-around;*/
	justify-content: space-around;
	align-items: stretch;

}

.bemvindo{
	opacity: 0;
}

