 html{
 	width: 100%;
 	min-width: 310px;
 }
 body{
 	padding-top: 120px;
 }


#navbar{
	position: fixed;
	display: flex;	
	justify-content: center;
	

	top: 0%;
	width: 100%;	
	height: 112px;
	background-color: #b71c1c;
	background: linear-gradient(200deg, #6200ea , #7c4dff   ,  #6200ea  );
	background-size: 600% 600%;
	-webkit-animation: navColor 10s ease infinite;
	-moz-animation: navColor 10s ease infinite;
	animation: navColor 10s ease infinite;
}

/* Animação da NAVBAR */
@-webkit-keyframes navColor {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes navColor {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes navColor { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


/* FIM da animação da NAVBAR */

.vito{
	
	width: 100px;
	margin: 5px;

}

.parent{
	height: 100%;
	border: solid 5px aqua;
	display: flex;
	/*justify-content: space-around;*/
	justify-content: space-around;
	align-items: stretch;

}

.bemvindo{
	opacity: 0;
}

